  nginx:
    endpoint: "http://localhost:80/status"
    collection_interval: 10s

filelog:
    include: [/var/log/nginx/*.log, /var/log/auth.log, /var/log/nginx/*.err]
    start_at: beginning

otlp:
  protocols:
    http:
    grpc: