  pipelines:
    metrics:
      receivers: [hostmetrics, redis]
      processors: [batch, resource, resourcedetection]
      exporters: [splunk_hec/metrics]
    
    logs:
      receivers: [filelog]
      processors: [batch, resourcedetection]
      exporters: [splunk_hec/logs]
    